[Unit]
Description=IPv6 autotunneling daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/bin/wg-ndp

[Install]
WantedBy=multi-user.target
